:root {
    --theme-color: linear-gradient(to right, #1723b1,#58f0ff);
    --white-color: #fff;
    --dark-color: #000;
}

.col-lg-6{
    width: 50%;
}
.col-lg-4{
    width: 33.33%;
}

.main-title{
    text-align: center;
}
.main-title h3{
    font-size: 30px;
    font-weight: 500;
} 
.main-title h3::after{
    content: '';
    background: linear-gradient(to right, #1723b1,#58f0ff);
    height: 8px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 70px;
    transform: translateY(23px);
}

@media (max-width: 991px){
    .col-md-12{
        width: 100%;
    }
}